:root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
}

#Cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  display: flex;
  padding: 30px;
  gap: 15px;
  
}

.navbar {
  overflow: hidden;
  background-color: #19054a;
}
.navbar a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Links - change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: #19054a;
}
