:root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
}

#CardsContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 30px;
  gap: 5px;
  
}

/* .eventCard {
  margin-top: 20px;
  background-color: red;
} */

.eventCardAnt {
  margin-top: 20px;
  margin-left: 30px;
  padding: 0px;
  justify-content: center;
  background-color: #f9f3ea;
  width: 100%;
  object-fit: cover;
}

/* Navbar */
.navbar {
  overflow: hidden;
  background-color: #19054a;
}

/* Links css */
.navbar a {

  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Links - change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: #19054a;
}

.navbarImageContainer {
  border-top: 5px solid black;
  border-bottom: 1px solid black;
  height: 200px;
}

.navbarImage {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.login-form {
  margin: 0 auto;
  max-width: 400px;
  position: relative;
  justify-content: center;
  padding-top: 20vw;
}

.login-form-forgot {
  float: right;
}
.ant-col-rtl .login-form-forgot {
  float: left;
}
.login-form-button {
  width: 100%;
}

.signup-layout-sider {
    text-align: center;
    margin: 0 auto;
    color: #fff;
    line-height: 100px;
    height: 50vw;
    width: 50vw;
    background-color: white;
}

.signup-layout {
    /* text-align: center; */
    margin: 0 auto;
    height: auto;
    width: 50vw;
    line-height: 100px;
    color: #fff;
    background-color: #f9f3ea;
}

#normal_login {
  height: fit-content;
  padding: 14px 16px;
}

.content {
  color: black;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-stretch: condensed;

}

.ant-space-item {
  object-fit: cover;
}

#cardTitle {
  color: black;
  font-size: 50px;
}

.cardDescriptions {
  color: black;
}

#homeLayout {
  justify-content: center;
  margin: 30px;
}
.homeContent {
  margin-top: 50px;
  background-color: #19054a;
  border: 10px solid black;
}

.contentTitle {
  background-color: white;
}
.homeImage {
  background-color: #61dafb;
  height: 200px;
  width: 100%;
}

.contentAboutUs {
  background-color: white;
}
.section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.main-heading {
  color: #19054a;
  font-size: 20px;
}

.underline {
  height: 0px;
  width: 4rem;
  background-color: #61dafb;
  margin-top: 10px;
  margin-bottom: 10px;
}

.AccountPage {
  display: flex;
  margin: 10px;
}

.AccountDetails {
  align-items: flex-end;
  margin-left: auto;
  border: 5px solid black;
  padding: 10px;
}

.PersaonalReservationsTitle {
  margin: 10px;
}
.PersonalReservations {
  padding: 20px;
  gap: 5px;
  margin: 10px;
  display: flex;
}
.HostEventTitle {
  display: flex;
  justify-content: center;
}

#NeedLogin {
  color: red;
  display: flex;
  justify-content: center;
}